# For CLI
# Version is latest at time of writing
click==6.6

# For GitHub API
# Version is latest at time of writing
github3.py==0.9.6


# Transitive libraries
# This is needed so there are no version conflicts when
# one downstream library does NOT specify the version it wants,
# and another one does.

# From GitHub API
requests==2.11.1
uritemplate==3.0.0
uritemplate.py==3.0.2
